/* - Menu Section */
.menu-section {
	padding-top: 75px;
	padding-bottom: 55px;
	position: relative;
}
.menu-section .top-img {
	position: absolute;
	left: 10px;
	top: -75px;
	width: 22.9687%;
}
.menu-section .bottom-img {
	position: absolute;
	right: 10px;
	bottom: -75px;
	width: 22.9687%;
	text-align: right;
}
.menu-item  {
	display: inline-block;
	width: 100%;
	min-height: 89px;
	margin-bottom: 18px;
}
.menu-item .item-thumb {
	float: left;
	margin-top: 8px;
	width: 12%;
}
.menu-item .item-thumb i img {
	border-radius: 100%;
}
.menu-item h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: bold;
	width: 53%;
	float: left;
	color: #c59d5f;
	margin-left: 18px;
	margin-bottom: 0;
	margin-top: 15px;
	letter-spacing: 0.64px;
	line-height: 26px;
	text-transform: uppercase;
}
.menu-item h3 > span {
	color: #777777;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.48px;
	text-transform: none;
	display: block;
}
.menu-item > span {
	color: #c59d5f;
	float: right;
	width: 28%;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	position: relative;
	margin-top: 10px;
}
.menu-item > span sup {
	font-family: Georgia,Times,Times New Roman,serif;
	font-size: 20px;
	font-weight: bold;
	margin-right: 5px;
}
.menu-item > span::before {
	border-top: 1px dashed #222222;
	content: "";
	display: inline-block;
	height: 1px;
	width: 58%;
	margin-right: 15px;
	vertical-align: middle;
}
/* - Menu Cards */
.menu-cards span.bottom-img {
	bottom: -185px;
}
