/* - Gallery Section */
.gallery-section {
	background-color: #222222;
	position: relative;
	padding-bottom: 120px;
	padding-top: 150px;
	margin-bottom: 75px;
}
.gallery-section::before {
	background-image: url("../../public/assets/images/gallery-pattern.png");
	background-repeat: repeat-y;
	bottom: 0;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.gallery-section .section-header {
	margin-bottom: 40px;
}
.gallery-section .section-header h4 {
	color: #fff;
}
.gallery-section .row {
	margin: 0;
}
.gallery-category {
	text-align: center;
	position: relative;
}
.gallery-category ul {
	padding-left: 0;
	margin-bottom: 48px;
}
.gallery-category ul,
.gallery-category ul li {
	display: inline-block
}
.gallery-category ul li {
	margin: 0 12px 6px;
}
.gallery-category ul li a {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.56px;
	text-decoration: none;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.gallery-category ul li a:hover,
.gallery-category ul li a.active {
	color: #c59d5f;
}
.gallery-box {
	margin-bottom: 30px;
	text-align: center;
}
.gallery-box a {
	display: inline-block;
	position: relative;
}
.gallery-box a::before,
.gallery-box a::after {
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.gallery-box a::before {
	background-color: rgba(0,0,0,0.7);
	bottom: 0;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
}
.gallery-box a:hover::before {
	opacity: 1;
}
/* .gallery-box a::after {
	background-color: #fff;
	border-radius: 50%;
	content: "\e681";
	font-family: 'Stroke-Gap-Icons';
	font-size: 24px;
	height: 59px;
	width: 59px;
	color: #c59d5f;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 0;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	opacity: 0;
	text-align: center;
	vertical-align: middle;
	line-height: 59px;
} */
.gallery-box a:hover::after {
	top: 50%;
	opacity: 1;
}
.gallery-page  {
	background-color: transparent;
	margin-top: 75px;
}
.gallery-page::before {
	display: none;
}
.gallery-page .section-header h4,
.gallery-page .gallery-category ul li a {
	color: #222222;
}
.gallery-page .gallery-category ul li a:hover,
.gallery-page .gallery-category ul li a.active {
	color: #c59d5f;
}
